/* Theme: Change this line to switch themes */
@import "/home/luancm/.config/themes/catppuccin/waybar.css";

* {
  background-color: @background;
  color: @text;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'CaskaydiaCove NF SemiBold';
  font-size: 16px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
     all: initial;
     padding: 0 15px;
     margin: 0 1.5px;
     min-width: 15px;
   }

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 20px;
}

#custom-expand-icon {
  margin-right: 20px;
}

tooltip {
  padding: 2px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}
