/* Theme: Change this line to switch themes */
@import "/home/luancm/.config/themes/catppuccin/waybar.css";

* {
  color: @text;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'CaskaydiaCove NF SemiBold';
  font-size: 20px;
}

window#waybar {
  background-color: @background;
}

.modules-left {
  margin-left: 15px;
}

.modules-right {
  margin-right: 15px;
}

#workspaces button {
     all: initial;
     padding: 0 15px;
     margin: 0 1.5px;
     min-width: 15px;
   }

#workspaces button.empty {
  opacity: 0.5;
}

.modules-right .module {
  min-width: 12px;
  padding: 0 12px;
}

.module {
  box-shadow: inset 0 -2px @surface0;
  background-color: transparent;
}

.module:hover {
  box-shadow: inset 0 -2px @surface1;
  background-color: transparent;
}

window.popup menu {
  background-color: @surface0;
}

