/* Catppuccin Mocha colors for Waybar */

@define-color background #1e1e2e;
@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color text #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color lavender #b4befe;
@define-color mauve #cba6f7;
@define-color pink #f5c2e7;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color blue #89b4fa;
@define-color sky #89dceb;
